@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed {
  @apply fixed z-[9999] bg-transparent bg-opacity-95;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

/* .hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-white;
} */
